[submodule "Modules/temper"]
	path = Modules/temper
	url = git@git.yopeso.com:taylor/temper.git
[submodule "Modules/caprices"]
	path = Modules/caprices
	url = git@git.yopeso.com:taylor/caprices.git
[submodule "Modules/scissors"]
	path = Modules/scissors
	url = git@git.yopeso.com:taylor/scissors.git
[submodule "Modules/finder"]
	path = Modules/finder
	url = git@git.yopeso.com:taylor/finder.git
